<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Click-o-Car</display-name>
  <listener>
    <listener-class>config.InitDaoFactory</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailTravel</servlet-name>
    <servlet-class>servlets.DetailTravel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailTravel</servlet-name>
    <url-pattern>/detailsTravel</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>DetailTravel</servlet-name>
    <url-pattern>/details-voyage/*</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>CreateTravel</servlet-name>
    <servlet-class>servlets.CreateTravel</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>CreateTravel</servlet-name>
    <url-pattern>/nouveau-trajet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>servlets.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileChange</servlet-name>
    <servlet-class>servlets.ProfileChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileChange</servlet-name>
    <url-pattern>/profileChange</url-pattern>
  </servlet-mapping>
</web-app>